@import url('https://fonts.googleapis.com/css2?family=Chewy&display=swap');
@import "tailwindcss";
@source "./app.js";

@theme {
    --font-chewy: "Chewy", system-ui;

    --animate-fade: fade-out 500ms;
    @keyframes fade-out {
        0% {
            opacity: 100%;
        }
        100% {
            opacity: 0%;
        }
    }
}